In [1]:
import pandas as pd

In [2]:
dict1 = {
    "name" : ["faizan","ghania","sameer","khubaib","farhan"],
    "marks" : [92,93,34,24,17],
    "city" : ["Lahore","Lahore","karachi","islamabad","delhi"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

      name  marks       city
0   faizan     92     Lahore
1   ghania     93     Lahore
2   sameer     34    karachi
3  khubaib     24  islamabad
4   farhan     17      delhi

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
l = [0, 10, 20, 30, 40, 50]

In [8]:
del l[0]
print(l)

[10, 20, 30, 40, 50]

In [9]:
l[0]

10